/* components/style.css */
@keyframes loadingAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading {
  animation: loadingAnimation 5s linear forwards; /* Berjalan selama 5 detik */
}
