@tailwind base;
@tailwind components;
@tailwind utilities;

.ease {
    animation-timing-function: ease;
}

.slide-ltr {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

.sliding-ltr {
    animation-name: sliding-ltr;
    animation-duration: 5s; 
    animation-fill-mode:forwards;
    animation-delay: 0.5s;
}
@keyframes sliding-ltr {
    0% {
        transform: translateX(-100%);
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    }

    100% {
        transform: translateX(-0.5%);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
    }
}


/* components/style.css */
@keyframes multiColorLoading {
  0% {
    width: 0%;
    background: linear-gradient(to right, #ADD8E6, #ADD8E6);
  }
  33% {
    width: 33%;
    background: linear-gradient(to right, #ADD8E6, #00008B);
  }
  66% {
    width: 66%;
    background: linear-gradient(to right, #00008B, #000000);
  }
  100% {
    width: 100%;
    background: linear-gradient(to right, #000000, #000000);
  }
}

.animate-multi-color-loading {
  animation: multiColorLoading 5s linear forwards; /* Durasi animasi 5 detik */
}

